*{
    margin: 0;
    padding: 0;
}

img{
    height: 250px;
    width: 300px;
}
#container {
    text-align: center;
    margin-top: 30px;
}
h1{
    text-align: center;
    
}
#menu {
    background-color: black;
    color: gold;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#menu li{
    padding: 10px  30px;
    list-style: none;
    font-size: 18px;
} 
p{
    margin: 30px 20px;
    text-align: center;
}  
footer{
  background-color: black;
  color: gold;
  text-align: center;
  font-size: 18px;
  padding: 10px ;
  padding-bottom: 5px;
  margin-bottom: 20px;
} 

#img{
    text-align: center;
    margin-top: 50px;
    background-color: black;
}
.sticky{
    position: fixed;
     top: 0px;
     width: 100%;
}
    